<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.teachmatic.snapsupply"
        versionCode="1"
        version   = "0.1">

    <!-- versionCode is optional and Android only -->

    <name>SnapSupply</name>

    <description>
        Easily manage your supply agency work with our integrated app and online portal.
    </description>

    <author href="http://teachmatic.com" email="tim@teachmatic.com">
        Tim Williams
    </author>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />

    <feature name="http://api.phonegap.com/1.0/network"/>

</widget>
